* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: hsl(220, 2%, 71%);
  text-align: center;
}

img {
  width: 100%;
  max-width: 30rem;
}

#wrapper {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

main {
  padding: 1.5rem;
}

header {
  padding: 2rem 1rem 0;
} 

header #logo {
  width: 2.5rem;
  padding-bottom: 1.5rem;
}

header h1 {
  font-weight: 300;
  padding-bottom: 0.7rem;
  color: hsl(0, 0%, 59%);
}

header h1 span {
  color: #000;
  font-weight: 700;
}

header p {
  color: #000;
  font-size: 0.5rem;
  padding-bottom: 1rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
}

.btn {
  border-radius: 1rem;
  height: 2rem;
  width: 90%;
  font-size: 0.6rem;
  outline: none;
  border: none;
}

.btn_email {
  border: 1px solid hsl(223, 100%, 88%);
  padding: 0.7rem;
  margin-bottom: 0.3rem;
  padding-left: 1.5rem;
}

.btn_email::placeholder {
  color: hsl(223, 100%, 88%);
  font-size: 0.5rem;
}

.btn_notify {
  color: #fff;
  background: hsl(223, 87%, 63%);
  font-size: 0.6rem;
  border: 2px solid hsl(223, 87%, 63%);
  box-shadow: 0 8px 8px 0 hsl(223, 100%, 88%);
  cursor: pointer;
  margin-bottom: 2.5rem;
 }

form .error-msg {
  color: hsl(354, 100%, 66%);
  display: none;
  font-size: 0.5rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 0.9rem;
}

form.error input {
  border-color: hsl(354, 100%, 66%);
}

form.error .error-msg {
  display: block;
}

#image {
  margin-top: 0.5rem;
}

#social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem;
  color: hsl(223, 87%, 63%);
}

.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(223, 100%, 88%);
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius:50%;
  height: 1.5rem;
  width: 1.5rem;
}

.outline:hover {
  background: hsl(223, 87%, 63%);
  color: #fff;
  cursor: pointer;
}

.fab {
  font-size: 0.7rem;
}

footer p {
  font-size: 0.5rem;
  padding-bottom: 0.2rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  font-size: 11px;  
}

.submitted {
  color: blue;
}

@media (min-width: 560px) {
  #wrapper {
    width: 100%;
    max-width: 1440px;
  }
  header {
    padding: 1rem 1rem 0;
  } 
  header #logo {
    width: 3rem;
    padding-bottom: 1rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header h1 span {
    font-size: 2rem;
  }
  #form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btn_email {
    width: 70%;
    margin-bottom: 0;
  }
  .btn_notify {
    width: 20%;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  form .error-msg {
    visibility: hidden;
    order: 1;
    padding-top: 0.5rem;
    margin-left: 1rem;
  }
  form.error .error-msg {
    visibility: visible;
  }
  #image {
    margin-top: 2rem;
  }
  #social_media {
    padding: 0;
  }
}